*{margin:0;padding:0;}
body{background-color:#ddd;font-family:"黑体";}
body,html{min-width:300px;}
p,div{font-size:14px;}

/*public*/
.ti28{text-indent:28px;}
.ti100{text-indent:125px;color:#ccc;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}

/*body*/
header{height:60px;width:100%;background-color:#333;}
header h1{display:inline-block;margin:10px 0 0 10px;display:none;}
header img{width:140px;display:block;margin-left:4%;}
header ul{float:right;margin:20px 4%;}
header ul li{display:inline-block;}
header ul li a{color:#fff;text-decoration:none;}
header ul li:last-child>a{color:#ccc;}
h2{padding:25px 0 ;}
h3{padding:25px 25px 15px 0px;}
section{width:92%;margin:15px auto;background-color:#fff;}
section span{color:#ccc;}
section h3,section article>span{color:#aaa;}
section .padd25{padding:25px;}
section .second_art ul li{list-style:none;}
section .third_dl figure{width:100px;border:2px solid #ccc;padding:10px;}
section .third_dl figure img{width:100%;}
section .third_dl dd{margin:20px;}
section .four_art ol{margin:25px;}
section .four_art span{color:#ccc;}
section .four_art table{width:100%;margin-top:10px;text-align:center;border-collapse:collapse;}
section .four_art table th{background-color:#333;color:#fff;}
section .four_art table .tr_bg{background-color:#ccc;}
section .five_art h2{padding: 0;border-left:3px solid #ccc;text-indent:28px;font-size:18px;}
section .five_art form{/*width:60%;*/margin:10px auto;}
section .five_art form>div{font-size:16px;margin-top:10px;margin-bottom:5px;}
section .five_art form .form_mail{display:inline-block;}
section .five_art form .form_mail span{display:block;}
section .five_art form section{width:60%;margin:20px 20%;height:320px;}
.form_left{float:left;width:30%;}
.form_left label{display:block;text-align:right;height:24px;line-height:24px;margin-top:10px;font-size:16px;}
.form_right{float:left;width:60%;}
.form_right span{height:24px;line-height:24px;}
.form_right>input,.form_right>div{margin-top:15px;}
.form_right input{display:block;}
.form_right .ri_in{display:inline-block;}
.form_right .ri_block{display:block;}
.form_right .mt3{margin-top:3px;}
.form_right .mt5{margin-top:5px;}
section .five_art form .submit2_sure{background-color:blue;border:0;border-radius:10px;width:96%;margin:20px 2%;
									height:40px;line-height:40px;color:#fff;font-size:20px;font-weight:700;font-family:"黑体";}
footer{background-color:#000;width:100%;height:50px;line-height:50px;text-align:center;color:#fff;}